:root {
    --gray: #a5a5a5;
    --gray-hover: #8c8c8c;

    --black: #333333;
    --black-hover: #1f1f1f;

    --orange: #f1a33b;
    --orange-hover: #d98c1f;

    --text-primary: #ffffff;
    --text-secondary: #000000;
}
